/* menu.css */
#menu {
    padding: 50px;
}

#menu h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.menu-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.menu-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #f00;
}